#container {
  position: relative;
}

#container > * {
  background-color: cadetblue;
  position: absolute;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}
